{
  "env": {
    "node": true
  },
  "globals": {
    "log": true,
    "config": true,
    "db": true
  },
  "rules": {
    "no-use-before-define": "off",
    "arrow-body-style": "off",
    "no-return-assign": "off",
    "no-param-reassign": "off",
    "max-len": "off"
  },
  "extends": "airbnb-base"
}
